*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.menu{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url(content/table_menu.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 0 10%;
}

.menu .selectTimer{
    position: sticky;
    display: flex;
    top: 20%;
    left: 55%;

    padding: 16px 32px;
    font-size: 30px;
    color: grey;
    background-color: whitesmoke;
    display: inline-flex;
    border-radius: 10%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
    background-color: whitesmoke;
}
    
  .timer-active {
    color: red;
  }
  
  .timer-inactive {
    color: green;
    }

.menu .selectTodo{
    position: sticky;
    display: inline-block;
    top: 20%;
    left: 30%;

    padding: 20px 40px;
    font-size: 30px;
    color: grey;
    background-color: whitesmoke;
    display: inline-block;
    -webkit-border-radius: 15px;
}